.about-our-spa  {
    padding-top: 295px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image:  url("../images/china-rose.png"),url("../images/jasmine.png");
    background-position: top 100px left 250px, top 400px right 200px;
    background-repeat: no-repeat;
}
@media (max-width: 1000px) {
    .about-our-spa  {
        padding-top: 100px;
        background-image:  url("../images/china-rose.png")  ;
        background-position: top 50px left 200px
    }
    .button-read-more {
        width: 130px;
        height: 45px;
    }
}
@media (max-width: 1000px) {
    .about-our-spa  {
        padding-top: 100px;
        background-image:  url("../images/china-rose.png")  ;
        background-position: top 50px left 20px;
        background-size: 20%;
    }
}