.biggest-header {
    font-size: 60px;
    line-height:75px
}
.biggest-description {
    color: #555555;
    font-family: 'Roboto', sans-serif;
    line-height:27px;
    text-align: left;
    padding: 50px 50px 50px 0;

}
@media (max-width: 1000px) {

    .biggest-header {
        font-size: 45px;
        line-height: 60px
    }

    .reserve-section p {
        font-size: 12px;
        letter-spacing: 0;
    }
}
@media (max-width: 390px) {

    .biggest-description {

        text-align: center;
        padding: 50px 0 50px 0;

    }
}


