.body-treatment {
    display: flex;
    width: 100%;
}
.body-treatment-square {
    position: relative;
    background-color: #dddddd;
    margin: 2px;
    width: 476px;
    height: auto;
    cursor: pointer;
}
.body-treatment-holder {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body-treatment-BG{
    display: block;
    height: 100%;
    width: 100%;
}
.body-treatment-title {
    transform: translate(-50, -50%);
    color: #fcf5ee;
    font-size: 22px;

    font-family: 'Rufina', serif;
}
.body-treatment-image-icon {
    transform: translate(-50, -50%);
    color: #fcf5ee;
    margin-bottom: 20px;
    text-transform: uppercase;
}
.body-treatment-cover-layer {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background: #ff817e;
}

.body-treatment-square:hover .body-treatment-cover-layer {
    opacity: 1;
}

@media (max-width: 1000px) {
    /*.body-treatment-title {*/
    /*    left: 25%;*/
    /*}*/
    /*.body-treatment-image-icon {*/


    /*    left: 40%;*/

    /*}*/


}
@media (max-width: 760px) {

}


