.circle-icons {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    width: 30px;
    height: 30px;
    border: solid 1px silver;
    border-radius: 50%;
}
.circle-icons:hover {
    background-color: #ff817e ;
    border: solid 1px #ff817e;
    color: white;
}
.fa-play {
    color: #ff817e;

}