.experienced-team {
    max-width: 1140px;
    margin: 0 auto;
    padding-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.experienced-team-card-holder {
    display: flex;
    width: 100%;
    padding-bottom: 150px;
}
.experienced-team-card {
    position: relative;
    margin: 0 10px 0 10px;
    width: 370px;
    height: 442px;
    background: white;
    transition: 0.3s ease-out;
}
.experienced-team-image {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    height: 80%;
    width: 100%;
    transition: 0.5s;
}
.experienced-team-content {
    position: absolute;
    margin: auto;
    left: 5%;
    right: 5%;
    bottom: -10px;
    width: 90%;
    height: 90px;
    padding: 12px;
    transition: all 0.5s cubic-bezier(.48, -0.28, 0.41, 1.4);
    box-sizing: border-box;
    background: white;
    overflow: hidden;
}
.experienced-team-content:hover {
    width: 90%;
    height: 40%;
    left: 5%;
    right: 5%;
    bottom: -60px;
    box-shadow: rgba(149, 157, 165, 0.2) 0 8px 24px;
}
.experienced-team-bottom {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}
@media (max-width: 1000px) {
    .experienced-team-card-holder {
        flex-direction: column;
        align-items: center;
        padding-bottom: 0;
    }
    .experienced-team-card {
        margin-bottom: 100px;
    }
}
@media (max-width: 800px) {

}