.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    background-color: #f6ecec;
    width: 100%;
}
.footer img {
    padding: 50px;
}
.footer-menu {
    margin-top: auto;
}
.menu-section {
    max-width: 1140px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 20px 10px 20px 0px ;
}
.footer-menu-list {
    display: flex;
    text-align: center;
}
.footer-menu-list_item {
    margin: 5px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.icon-facebook:before {
    content: "\ea90";
}
.icon-instagram:before {
    content: "\ea92";
}
.icon-twitter:before {
    content: "\ea96";
}
.icon-vimeo:before {
    content: "\eaa0";
}

.footer-icons{
    display: flex;
    padding: 40px 0 40px 0;
}
.vl {
    border-left: 1px solid silver;
    height: 8px;
}
.icon-copyright:before {
    content: "\e900";
}
.footer-bottom-text {
    font-size: 12px;

}
.footer-menu-list li a {
    text-decoration: none;
    color: black;

}

@media (max-width: 760px) {
    .footer img {
        padding: 50px 50px 0 50px;
    }
}