
.form {
    display: flex;
}
.left-form {
    width: 40%;
    height: auto;
    background-color: #b3afa6;
}
.right-form-wrapper {
    height: auto;
    width: 60%;
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    background-color: #faf8f8;

}
.right-form {
    display: flex;
    background-color: #faf8f8;
    width: 60%;
    padding-left:100px;
    height: 15%;
    font-size: 12px;
}
.right-form-bottom {
    display: flex;
    background-color: #faf8f8;
    height: 100px;
    padding:60px 0 30px 100px;
    font-size: 12px;
}
.inputs-holder {
    width: 60%;
    height: 20%;
    background-color: #faf8f8;
    padding: 10px;
}
.inputs-holder-large {
    height: 20%;
    background-color: #faf8f8;
    width: 64%;
    padding: 10px;
}
.input-data {
    width: 100%;
    position: relative;
}
.input-data input {
    height: 100%;
    width: 100%;
    border: none;
    border-bottom: 2px solid silver;
    font-size: 15px;
    background-color: #faf8f8;
}

.input-data label {
    position: absolute;
    bottom: 10px;
    left: 0;
    color: silver;
    pointer-events: none;
}
.input-data span{
    float: right;
}

.right-form-button {
    height: 50px;
    width: 200px;
    margin-bottom: 120px;
    margin-left: 110px;
}
.menu a {
    text-decoration: none;
    color: black;
}
.mob-input {
    display: none;
}
.desc-input {
    display: block;
}

.mob-input-2 {
    display: none;
}
.desc-input-2 {
    display: block;
}
@media (max-width: 1000px) {
    .left-form {
        display: none;
    }
    .right-form {
        display: flex;
        justify-content: center;
        padding-left:0px;
        background-color: #faf8f8;
        width: 100%;
        height: 15%;
        font-size: 12px;
    }
    .right-form-wrapper {
        width: 100%;
        padding: 20px;
    }
    .inputs-holder {
        padding:10px;
    }

    .inputs-holder-large {
        height: 20%;
        background-color: #faf8f8;
        width: 100%;
        padding: 0;
    }
    .right-form-bottom {
        display: flex;
        width: 97%;
        padding:0;
        margin-top: 60px;
        font-size: 12px;
        margin-left: 10px;
    }
    .input-data input {
        font-size: 12px;
        color: silver;
        font-weight: lighter;
    }
    .input-data {

    }
    /*two inputs will changing in mob.version*/
    .mob-input {
        display: block;
    }
    .desc-input {
        display: none;
    }
    .mob-input-2 {
        display: block;
    }
    .desc-input-2 {
        display: none;
    }
    .right-wrapper {
        align-items:flex-start;
    }
    .right-form-button {
        margin-left: 10px;
    }
}
.submit-button {
    max-width: 1140px;
    margin-left: 50%;
}
@media (max-width: 390px) {
    .right-form {
        flex-direction: column;
        align-items: center;
    }
    .inputs-holder {
        flex-direction: column;
        width: 100%;
    }
    .input-data input {
        border-bottom: 1px solid silver;
    }
    .right-form-bottom {
        margin-left: 0;
    }
    .form-input::placeholder {
        padding-left: 0;
    }
    .right-form-button {
        width: 250px;
        margin-bottom: 0px;

    }
    }
