html {
    height: 100%;
}
body {
    font-family: 'Roboto', sans-serif;
    margin: 0 auto;
    height: 100%;
}
.main-content {
    max-width: 1920px;
    height: 100vh;
    margin: 0 auto;
}
.section {
    padding: 75px 0 75px;
}
.section-header {
    font-size: 40px;
    font-family: 'Rufina', serif;
}
.pre-header {
    font-family: 'Roboto', sans-serif;
    letter-spacing: 2px;
    padding: 40px 0 40px;
    font-size: 20px;
    color: grey;
}
.description {
    line-height:30px;
    font-size: 15px;
    text-align: center;
    padding: 50px;
    font-weight: lighter;
    color: #888888;
}
.center {
    text-align: center;
}
.card-header {
    font-family: 'Rufina', serif;
    font-weight: lighter;
    font-size: 25px;
    padding: 10px 10px 0 10px;
    text-align: center;
}
.motion {
    padding: 20px 10px 0 10px;

}
.card-description {
    font-size: 14px;
    line-height: 30px;
    text-align: center;
    vertical-align: top;
    color: silver;
    padding: 10px;
}
@font-face {
    font-family: 'icomoon';
    src:url('../icomoon.eot');
    src:url('../icomoon.eot?#iefix') format('embedded-opentype'),
    url('../icomoon.woff') format('woff'),
    url('../icomoon.ttf') format('truetype'),
    url('../icomoon.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

::placeholder {
    color: #d4d3d3;
    padding-left: 10px;
}
.button {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 12px;
    width: 170px;
    height: 50px;
    border-radius: 25px;
    margin: 20px;
    background-color: #ff817e;
}
.button a {
    text-decoration: none;
    color: white;
}
.read-more-black-button {
    background-color: #000000;
    transition: 0.3s;
}
.read-more-black-button:hover {
    background-color: #ff817e;
}
.black-icons{
    color: black;
    border-right-color: silver;
    padding: 10px;
}
.white:hover {
    color: white;
}
@media (max-width: 1000px) {
    body {
        background-position: top 190px left;
        background-size: 16%;
    }
    .main-content {
        max-width: 1000px;
        margin: 0 auto ;
    }
    .section {
        padding-top: 25px;
        padding-bottom: 25px;
    }
    .watch-our-story-button {
        margin-left: 20px;

    }
    .pre-title {
        font-family: 'Roboto', sans-serif;
        letter-spacing: 1px;
        padding: 30px 0 30px;
        font-size: 16px;
        color: grey;
    }
    .title {
        font-size: 30px;
        font-family: 'Rufina', serif;
    }
    .description {
        line-height:30px;
        font-size: 11px;
        padding: 20px 0 20px 0;
        font-weight: lighter;
        color: #888888;
    }
    .card-header {
        font-size: 25px;
    }
    .card-description {
        font-size: 12px;
        line-height: 20px;
    }
    .latest-from-blog.section {
        display: none;
    }
    .hide {
        display: none;
    }
    .read-more-black-button {
        width: 80%;
        font-size: 20px;
        margin-bottom: 20px;
    }
}
@media (max-width: 390px) {

    .hide-390px {
        display: none;
    }
    .section-header {
        text-align: center  ;
    }
    .description {
        text-align: center;
    }
}
