
.get-in-touch {
    margin: 0 auto;
    max-width: 1140px;
}

.get-in-touch-holder {
    padding-top: 50px;
    display: flex;
    align-items: start
}
.get-in-touch-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 50%;
}

.get-in-touch-feed-back {
    height: 100%;
    width: 50%;
}

.get-in-touch-feed-holder {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.get-in-touch-feed-data {
    height: 40px;
    width: 600px;
    position: relative;
    padding-bottom: 20px;

}
.get-in-touch-feed-data input {
    height: 100%;
    width: 100%;
    border: 1px solid silver;
}

.get-in-touch-big-input {
    position: relative;
    display:inline-block;
    padding-bottom:70px;
}
.get-in-touch-form {
    display: flex;
    align-items: center;
    padding-bottom: 40px;
}
.get-in-touch-form h5 {
    padding:5px;
}
.get-in-touch-icon-holder {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    height: 50px;
    width: 50px;
    margin-right: 20px;
    border-radius: 50%;
    background-color: #ff817e;
}

.icon-envelop:before {
    content: "\e945";
}
.icon-map2:before {
    content: "\e94c";
}
.icon-mobile2:before {
    content: "\e959";
}

@media (max-width: 1000px) {
   .get-in-touch {
       display: none;
   }
}
@media (max-width: 760px) {

}