.jack-marsh {
    background-color: #f6efee;
}
.jack-marsh-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    max-width: 1140px;
}
.jack-marsh-name {
    font-family: 'Rufina', serif;
    color: #606060;
    font-size: 20px;
    font-weight: lighter;
}
.jack-marsh-executive {
    font-family: 'Roboto', sans-serif;
    color: #555555;
    font-weight: lighter;
}
.jack-marsh-client {
    border-radius: 50%;
    padding: 20px;
}
.jack-marsh-dots-holder {
    display: flex;
    padding: 50px;
}
.jack-marsh-dots {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-left: 15px;
    background-color: #ff817e;
    transition: 0.3s;
}
.jack-marsh-dots:hover {
    background-color: red;
}

@media (max-width: 1000px) {
    .jack-marsh-content  {
        max-width: 70%;
    }
    .jack-marsh-content img {
        width: 50px;
    }
}
@media (max-width: 760px) {

}