.latest-from-blog    {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
.latest-from-blog-card-holder {
    display: flex;
    width: 100%;
}
.latest-from-blog-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    border:1px solid #eae9e9;
    margin: 15px;
    width: 33%;
    height: 550px;
}
.latest-from-blog-image-holder {
    background-color: grey;
    width: 90%;
    height: 50%;
    margin: 15px;
}
.latest-from-blog-text {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
}
@media (max-width: 760px) {

}
