.navigation-section {
    max-width: 1000px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px 30px 80px 30px;
}
.navigation {
    width: 100%;
    margin-top: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.navigation-background {
    position:absolute;
    top: 0;
    right: 0;
    z-index:1;
    width:76%;
    height:100%;
    background-image: url("../images/spa.png");
    background-position: top  right  ;
    background-repeat: no-repeat;
}
.navigation-list {
    display: flex;
    text-align: center;
    padding-top: 50px;
    padding-right: 390px;
    z-index: 5;
}
.navigation-list_item {
    margin: 5px 20px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 14px;
}
.navigation-list_item a {
    text-decoration: none;
    color: #263a41;
    cursor: pointer;
}
.navigation-list_item :hover {
    cursor: pointer;
    color: #ff817e;
}
/*toggle-menu */
.icon-bars:before {
    content: "\e900";
}
.hamburger {
    background-color: transparent;
    border: 0;
    color:#ff817e;
    font-size: 20px;
    cursor: pointer;
    display: none;
}
.hamburger:focus {
    outline:none;
}
@media (max-width: 1300px) {
    .navigation-background {
        background-size: 70%;
    }

    .navigation-list {
        padding-right: 200px;
    }
}
@media (max-width: 1000px) {
    .navigation {
        max-width: 700px;
        margin:0 auto;
    }

    .logo {
        width: 150px;
        height: auto;
    }
    .navigation-section {

    }
    .navigation-background {
        background-size: 55%;
    }
    .navigation-list {
        padding-right: 0;
    }
    .navigation-list_item {
        margin: 5px 25px;
    }
    .navigation-section img {
        width: 70%;
    }
}
@media (max-width: 767px) {
    .navigation-list {
        width: 100%;
        display:none;
        flex-direction: column;
        background-color: #efdcc0;
    }
    .navigation-list.show {
        display: flex;
    }
    .hamburger {
        display: block;
    }
    .navigation-background {
        display: none;
    }
}

