.popular-procedures {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1140px;
    margin: 0 auto;
}
.popular-procedures-card-holder {
    display: flex;
    width: 100%;
}
.popular-procedures-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    width: 33%;
    height: 550px;
    border: 1px solid #ececec;
    transition: 0.3s;
}
.popular-procedures-card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.popular-procedures-image-holder {
    background-color: #999999;
    width: 90%;
    height: auto;
    margin: 15px;
}

.popular-procedures-card-text {
    display: flex;
    flex-direction: column;
}

@media (max-width: 1000px) {
    .popular-procedures-card {
        margin: 10px;
        width: 30%;
        height: auto;
        border:1px solid #e7e6e6;
    }
    .popular-procedures-card-holder {
        justify-content: center;
    }

    .popular-procedures-image-holder img {
        width: 100%;
    }
    .popular-procedures-image-holder {
        height: auto;
    }

    .popular-procedures-card-text {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
}
@media (max-width: 760px) {
    .popular-procedures-card-holder {
        flex-direction: column;
        align-items: center;
    }
    .popular-procedures-card {
        width: 80%;
    }
}