p.spa-and-beauty.red-p  {
    color: #ff817e;
    font-size: 15px;
    font-family: 'Rufina', serif;
    line-height:75px;
    letter-spacing: 2px;
}
@media (max-width: 390px) {
    p.spa-and-beauty.red-p  {
        text-align: center;
    }
}