.reserve-section {
    max-width: 100%;
    background-image: url("../images/leaf.png");
    background-position: top  left;
    background-repeat: no-repeat;
}
.reserve-section-main-holder {
    position: relative;
    max-width: 1000px;
    margin: 0 auto;
    z-index: 7;
}
.fa-arrow-right {
    padding-left: 5px;
}
.reserve-buttons-holder {
    display: flex;
    align-items: center;
}
.holder-watch-our-story-button {
    display: flex;
    justify-content: center;
    align-items: center;
}
.reserve-now-button-icon {
    content: "\ea3b";
}

@media (max-width: 1000px) {
    .reserve-section {
        margin: 0 auto;
        background-size: 15%;
        background-position: top 60px  left;
    }
    .reserve-section-main-holder {
        max-width: 700px;
    }
    .holder-watch-our-story-button {
        margin-left: 20px;
        align-items: center;
    }
    .reserve-buttons-holder  {
        align-items: center;
    }

}
