.watch-our-story  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #fcf5ee;
    margin-left: 60px;
    align-self: flex-end;
}
.watch-our-story-button-icon:before {
    content: "\ea1c";
}
.watch-our-story-button-text {
    padding-left: 10px;
    padding-bottom: 5px;
    align-self: flex-end;
    color: #888888;
}

@media (max-width: 1000px) {
    .watch-our-story {
        margin-left:10px;
    }
}